.box{
    height: 150px;
    width: 150px;
    padding: 5px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;

}
.box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 10px;
}
input{
    padding: 5px;
    width: 400px;
}
.add_Button{
    padding: 5px;
    margin-left: 5px;
    cursor: pointer;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 20%
}