.box{
    height: 150px;
    width: 150px;
    padding: 5px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;

}
.box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}